body {
	background:#fff;
	margin:0;
	padding: 0;
	font-family: Lora;
	overflow-x: hidden;
	color: #000;
}

.container {
	min-height: 100vh;
}

a {
	color: #057;
	text-decoration: none;
	transition: .15s ease-in-out;
	box-shadow: 0 1px 0 transparent;
}

a:hover {
	box-shadow: 0 1px 0 #057;
}

.row {
	display:flex;
	justify-content: center;
	margin:0 auto;
	flex:1;
	width: 100%;
}

.col {
	display: flex;
	flex-flow:column;
	flex:2;
}

.header_out {
	position: absolute;
	background: #fff;
	box-shadow: 0 1px 0 #fe2;
	top:0;
	left:0;
	right:0;
	height: 260px;
	z-index: -1;
}

.header {
	font-size:14px;
	font-weight: 400;
	padding-bottom: 2em;
	display: inline-block;
	background: transparent;
}

.header h1{
	font-size: 28px;
	line-height: 0px;
	font-weight: 400;
}

.header img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	display: inline;
	margin-right:1em;
}

.main {
	margin:0em 20em;
	padding:2em 0;
}

.main .col {
	padding:0em 0;
	justify-content: center;
}

.main h2 {
	display: inline-block;
	font-size:26px;
	font-weight: 400;
	line-height: .5em;
}

.main p {
	line-height: 1.3em;
	font-size:18px;
	margin:.5em 0;
	padding: 0;
}

.main p strong {
	background: #E7FFE5;
	font-weight: 400;
	font-style: italic;
}

button {
	display: inline-block;
	outline: 0;
	border:none;
	padding:20px 25px;
	font-family: lora;
	font-size: 16px;
	border-radius: 0px;
	background: #fff;
	box-shadow: 0 0 0 1px #acf;
	color: #067;
	cursor: pointer;
	transition: .25s ease-in-out;
}

button::after {
	content: '\2794';
	font-weight: 100;
	font-size:11px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: .25s ease-in-out;
	margin-left: 5px;
}

button:hover:after {
	margin-left:10px;
}

button:hover,
button:active,
button:focus {
	box-shadow: 0 0 0 1px #067;
}

#workspace ul {
	background: #E7FFE5;
	border-radius: 0px;
	padding: 3em;
}

ul li {
	margin:.5em 0;
	font-size:18px;
}

.menu {
	float: right;
	margin:0;
	padding:0;
}

.menu li {
	display: inline-block;
	margin:0;
	margin-left:.4em;
	padding: 0;
}

.menu li a {
	color: #000;
}

.tag {
	background: #ffa;
	color:#000;
	display: inline-block;
	margin:5px;
	padding:3px 10px;
	font-size:18px;
	font-weight: 400;
	border-radius: 0px;
	cursor: default;
	transition: .1s ease-in-out;
}

.tag:hover {
	background: #fe2;
}

.exc {
	color: #000;
}

.footer {
	font-size: 13px;
	margin-top:3em;
	text-align: center;
}

heart {
	color:#f44;
}

@media screen and (max-width: 1200px) {
	.main {
		margin:2em 12em;
	}
}

@media screen and (max-width: 960px) {
	.main {
		margin:2em 10em;
	}
}

@media screen and (max-width: 769px) {
    .main {
		margin:2em 5em;
	}
}

@media screen and (max-width: 486px) {
    .main {
		margin:1em;
	}
}
