

@keyframes popIn {
	0% {
		opacity: 0.5;
		transform: scale(.9);
		visibility: visible;
	}
	70% {
		opacity: 1;
		transform: scale(1.03);
		visibility: visible;
	}
	100% {
		opacity: 1;
		transform: scale(1);
		visibility: visible;
	}
}

@keyframes popOut {
	0% {
		opacity: 1;
		transform: scale(1);
		visibility: visible;
	}
	30% {
		opacity: 1;
		transform: scale(1.03);
		visibility: visible;
	}
	80% {
		opacity: 0;
		transform: scale(.9);
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes rotateAdd_1 {
	0% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-135deg);
		margin: 0px 0;
	}
}

@keyframes rotateAdd_2 {
	0% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(135deg);
		margin: -2px 0;
	}
}

@keyframes rotateRemove_1 {
	0% {
		transform: rotate(-135deg);
		margin: 0px 0;
	}
	100% {
		transform: rotate(0deg);
		margin: 4px 0;
	}
}

@keyframes rotateRemove_2 {
	0% {
		transform: rotate(135deg);
		margin: -2px 0;
	}
	100% {
		transform: rotate(0deg);
		margin: 4px 0;
	}
}

body {
	background:#fff;
	margin:0;
	padding: 0;
	font-family: Public Sans;
	overflow-x: hidden;
	color: #000;
}

.container {
	min-height: 100vh;
}

a {
	color: #06f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.row {
	display:flex;
	justify-content: center;
	margin:0 auto;
	flex:1;
	width: 100%;
}

.col {
	display: flex;
	flex-flow:column;
	flex:2;
}

.header {
	font-size:12px;
	display: inline-block;
	background: transparent;
	text-align: center;
	margin:0 auto;
}

.header h1{
	font-size: 26px;
	font-weight: 400;
	line-height: 0px;
}

.header img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	display: inline;
	margin-right:1em;
	border-radius: 150px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.main {
	margin:0em auto;
	width:480px;
	padding:2em 0;
}

.main .col {
	padding:0em 0;
	justify-content: center;
}

.main h2 {
	display: inline-block;
	font-size:24px;
	font-weight: 400;
	line-height: 1em;
}

.main p {
	line-height: 1.5em;
	font-size:14px;
	margin:.5em 0;
	padding: 0;
}

.main p strong {
	font-weight: 600;
}

button {
	display: inline-block;
	outline: 0;
	font-family: Public Sans;
	border:none;
	padding:10px 15px;
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px;
	background: #08f;
	box-shadow: 0 2px 5px #9af;
	color: #fff;
	cursor: pointer;
	transition: .25s ease-in-out;
}

button::after {
	content: '\2794';
	font-weight: 100;
	font-size:11px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: .25s ease-in-out;
	margin-left: 5px;
}

button:hover:after {
	margin-left:10px;
}

button:hover,
button:active {
	background: #49f;
	box-shadow: 0 2px 8px #9af;
}

button:focus {
	transform: scale(.97);
	transition: .1s ease-in-out;
}

#workspace ul {
	background: #f5f5f5;
	border-radius: 3px;
	padding: 2em;
}

ul li {
	margin:.5em 0;
	font-size:14px;
	line-height: 1.5em;
}

.nav {
	position: absolute;
	margin-left: 200px;
}

.menu_icon {
	cursor: pointer;
	width: 50px;
	height: 50px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	transition: .25s ease-in-out;
}

.menu_icon:hover {
	background: #fafafa;
}

.menu_icon:active {
	background: #ddd;
	transform: scale(.95);
}

.menu_icon_child {
	width: 25px;
	height: 2px;
	background-color: #000;
	margin: 4px 0;
}

.menu {
	position: absolute;
	visibility: hidden;
	top:2em;
	margin-left:-122.5px;
	padding:0;
	background: #fff;
	box-shadow: 0 8px 20px #ddd, 0 0 0 1px #eee;
	opacity: .95;
	border-radius: 5px;
	padding:15px 0;
}

.triangle,
.triangle::before {
	content: "";
	display: block;
	width: 0; 
	height: 0; 
	margin: 0 auto;
	margin-right:10px;
	margin-top:-29.5px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 14px solid #eee;
}

.triangle::before {
	position: absolute;
	margin-left:-14px;
	margin-top:2px;
	border-bottom: 14px solid #fff;
}


.menu li,
.menu a {
	display: block;
	margin:0px;
	font-size:14px;
	padding: 12px 60px;
	transition: .15s ease-in-out;
	color: #000;
}

.menu li a {
	color: #000;
}

.menu a:hover {
	text-decoration: none;
	background: #f5f5f5;
}

.menu a:active {
	background: #ddd;
}

.active {
	background: #f5f5f5;
}

.tag {
	background: #fff;
	color:#000;
	display: inline-block;
	margin:5px;
	padding:3px 10px;
	font-size:14px;
	font-weight: 400;
	border-radius: 3px;
	cursor: default;
	transition: .25s ease-in-out;
}

.tag:hover {
	background: #fff;
	color:#02c;
	box-shadow: 0 2px 5px #ddd;
}

end {
	content: "";
	display: block;
	width:50px;
	height:1px;
	background: #000;
	border:none;
	margin: 3em auto;
	text-align: center;
}

heart {
	color:#444;
}


@media screen and (max-width: 486px) {
    .main {
		margin:1em auto;
		width: 90%;
	}
}
