
body {
	background:linear-gradient(45deg, #fff,#fff9e8);
	margin:0;
	padding: 0;
	font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
	overflow-x: hidden;
	color: #222;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a {
	color: #666;
	text-decoration: underline;
}

a:hover {
	color: #666;
	text-decoration: underline;
}

.row {
	display:flex;
	justify-content: center;
	margin:0 auto;
	margin-bottom: 1em;
	flex:1;
	width: 100%;
}

.col {
	display: flex;
	flex-flow:column;
	flex:2;
}
.col-1 {
	flex: 1;
	justify-content: flex-start;
}

.header {
	font-size:12px;
	display: inline-block;
	background: transparent;
	margin:0;
}

.header h1{
	font-size: 20px;
	font-weight: 700;
	line-height: 0px;
}

.propic {
	display: flex;
	align-items: center;
	width: 180px;
	height: 180px;
	border-radius: 180px;
	image-rendering: crisp-edges;
	overflow: hidden;
}

.propic img {
	width:100%;
}

.main {
	margin:0em auto;
	width:620px;
	padding:2em 0;
}

.main .col {
	padding:0em 0;
	justify-content: center;
}

.quote {
	margin-top: 3em;
	font-size: 14px;
	transition: .5s ease-in-out;
}

.author {
	display: block;
	margin-top: 1em;
	font-size: 14px;
}

.main h2 {
	display: inline-block;
	font-size:18px;
	font-weight: 700;
	line-height: 1em;
}

.tagline {
	font-size: 14px;
	text-align: center;
	font-weight: 400;
}

.main p {
	line-height: 1.5em;
	font-size:14px;
	margin:.5em 0;
	padding: 0;
}

.main p strong {
	font-weight: 600;
}

.col img {
	max-width: 100%;
}

.caption {
	font-size: 12px;
	color:#666;
}

.warn  {
	margin:1em 0;
	font-size:12px;
	color:#444;
}

button {
	display: inline-block;
	outline: 0;
	border:none;
	padding:8px 15px;
	font-size: 14px;
	font-weight: 400;
	border-radius: 100px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	transition: .25s ease-in-out;
}
button:hover {
	background-color: #222;
}

.svg {
	padding-left: 0px;
	transition: padding-left .25s ease;
}

button:hover .svg {
	padding-left: 5px;
	transition: padding-left .25s ease;
}

#workspace ul {
	background: transparent;
	border-radius: 0px;
	padding: 2em;
}

#about img {
	width: 300px;
}

ul li {
	margin:.5em 0;
	font-size:14px;
	line-height: 1.5em;
}

.nav {
	position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content:flex-end;
}

.menu {
	padding:15px 0;
}

.menu a {
	display: inline;
	margin:0px;
	text-transform: lowercase;
	font-size:14px;
	padding: 8px;
	color: #666;
	text-decoration: none;
	transition: .25s ease-out;
}

.menu a:before {
	content: '/';
}

.menu a:hover {
	text-decoration: none;
	color: #000;
}

.active {
	background: transparent;
}

.tag {
	background: transparent;
	color:#888;
	display: inline-block;
	font-style: italic;
	text-transform: lowercase;
	margin:5px;
	padding:3px;
	font-size:14px;
	font-weight: 400;
	cursor: pointer;
	transition: .15s ease;
}

.tag:before {
	content: "#";
}

.tag:hover {
	color: #000;
}

.footer {
	margin-top: 4em;
	font-size: 12px;
	text-transform: lowercase;
}

.footer a {
	margin-left: 10px;
}


@media screen and (max-width: 486px) {
  .main {
		margin:1em auto;
		width: 90%;
	}
	.row {
		flex-flow: column;
	}
	.col-1 {
		justify-content: center;
		align-items: center;
		margin-bottom: 1em;
	}
	.propic {
		width: 100px;
		height: 100px;
	}
	.nav {
		right:1em;
	}
	.menu_icon:hover,
	.menu_icon:active  {
		background: transparent;
	}
}
