<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<title>Akarsh Cholapurath</title>
</head>
<body>
<div class="container">
<div class="main">
	<div class="row">
		<div class="col">
			<div>
				<ul class="menu">
					<li><b>Home</b></li>
					<li><a href="./about">About</a></li>
					<li><a href="./work">Work</a></li>
					<li><a href="./blog">Blog</a></li>
					<li><a href="./contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="header">
				<img src="./assets/images/pro_pic.JPG" class="propic" />
				<h1>Akarsh Cholapurath</h1>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col">
			<p>My name is Akarsh Cholapurath; a creator, developer and designer. I had made some things online. <a href="./about">Read more</a></p>
		</div>
	</div>
	<end />
</div>
</div>
</body>
</html>